body {
	overflow-x: hidden;
}

.board-menu {
	background-color: #2e2d55;
	height: 50px;
	padding-left: 10px;
	padding-right: 50px;
}

.board-menu .margin-right {
	margin-right: 30px;
}

.myButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
	background-color: #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
	background-color: #f6f6f6;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.button-icon {
	margin-left: 0px;
	padding-right: 10px;
}

.board-card {
	max-width: 225px;
	min-height: 150px;
	border: 0.18em solid #9E9E9E;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	padding: 0px;
	margin-bottom: 15px;
	box-shadow: 3px 3px 5px #888888;
	display: flex;
	margin-right: 9px;
}

.board-card-color-code {
	margin: 0px;
	margin-right: 5px;
	padding: 0px;
	width: 12px;
	height: auto;
	border: 2px black;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}

.card-issue {
	background-color: #D47070;
}

.card-task {
	background-color: #3DEC95;
}

.card-new {
	background-color: #5D55EB;
}

.board-card-section {
	flex: 1;
	width: auto;
	min-width: 155px;
	margin-right: 3px;
}

.board-card-header {
	font-size: 0.8em;
	height: 5px;
	margin-bottom: 0px;
}

.board-card-header progress {
	height: 15px;
	margin-top: 3px;
	width: 44px;
}

.board-card-title {
	margin-top: 20px;
	padding: 2px;
	border-bottom: thin dotted black;
	height: 30px;
}

.board-card-body {
	margin-top: 0px;
	height: auto;
	min-height: 100px;
}

.board-card-description {
	height: auto;
	margin-bottom: auto;
	min-height: 70px;
}

.board-card-item-type {
	position: relative;
	margin-left: 5px;
	font-weight: bold;
	color: #577474;
	top: auto;
	bottom: 3px;
}

.board-card-item-type .normal {
	font-weight: normal;
}

.board-card-footer-parent {
	position: relative;
	top: auto;
	bottom: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.board-card .form-check {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #424242;
	margin: 7px;
	padding-left: 5px;
}

.table {
	table-layout: fixed;
	margin-top: 0px;
	padding-top: 0px;
	border: 2px #2e2d55;
}

.table tr th {
	background-color: #484770;
	color: white;
	border: 2px #2e2d55;
}

.table tr td {
	padding: 3px;
}

.fa {
	color: black;
}

.flex-left {
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

.bottom-Menu {
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #2e2d55;
	border: 2px #484770;
	color: white;
	padding-left: 30px;
	padding-top: 4px;
}

.footer-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
}

.footer-item {
	flex: 1 1 auto;
	width: 30px;
}

.footer-button {
	color: white;
	cursor: pointer;
	margin-right: 10px;
}

.footer-button:hover {
	color: #9E9E9E;
}